$mainBkg: #F8F7F5;  // #ffffff; 
$secondBkg: #ffffde;
$lineColor: #74726E; // #333333;
$border1: #E2DDD6;  
$border2: #B28C16;
$arrowheadColor: #74726E; //  #333333;

/* Flowchart variables */

$nodeBkg: $mainBkg;
$nodeBorder: #74726E; // #9370DB;
$clusterBkg: $secondBkg;
$clusterBorder: $border2;
$defaultLinkColor: $lineColor;
$titleColor: #333;
$edgeLabelBackground: #e8e8e8;

/* Sequence Diagram variables */

$actorBorder: $border1;
$actorBkg: $mainBkg;
$actorTextColor: black;
$actorLineColor: #C3C0B9;
$signalColor: #74726E;
$signalTextColor: #333;
$labelBoxBkgColor: $actorBorder;
$labelBoxBorderColor: $actorBorder;
$labelTextColor: $actorTextColor;
$noteBorderColor: $border2;
$noteBkgColor: #FFF4D2;
$sequenceNumberColor: white;
$activationBorderColor: #74726E;
$activationBkgColor: #FFD2BB;

/* Gantt chart variables */

$sectionBkgColor: rgba(102, 102, 255, 0.49);
$altSectionBkgColor: white;
$sectionBkgColor2: #fff400;
$taskBorderColor: #534fbc;
$taskBkgColor: #8a90dd;
$taskTextLightColor: white;
$taskTextColor: $taskTextLightColor;
$taskTextDarkColor: black;
$taskTextOutsideColor: $taskTextDarkColor;
$activeTaskBorderColor: #534fbc;
$activeTaskBkgColor: #bfc7ff;
$gridColor: lightgrey;
$doneTaskBkgColor: lightgrey;
$doneTaskBorderColor: grey;
$critBorderColor: #ff8888;
$critBkgColor: red;
$todayLineColor: red;

@import '../mermaid';

.actor {
    fill: #F8F7F5; /* actorFillColor?? */
    stroke: #C3C0B9; /* actorBorderColor?? */
    stroke-width: 2.5px;
}
.actor-line {
    stroke-dasharray: 10 4; /* not in default css */
    stroke-width: 2.5px;  /* not in default css */
} 
.messageLine0 {
    stroke-width: 2; /* override rule in default */
}
.note {
    stroke-width: 1;
    box-shadow: 2px 2px 2px black;
}
.activation0 {
    fill: #FFFFFF;
    stroke: #C3C0B9;
    stroke-width: 2.5px;
}
.activation1 { 
    fill: #EAE7E1;
    stroke: #B3B0A9;
    stroke-width: 2.5px;
}
.activation2 {
    fill: #FFD2BB;
    stroke: #74726E;
    stroke-width: 2.5px;
}
* {
    font-family: 'MarkForMCNrw';
}
